.App {
  text-align: center;
}

.app-wrapper {
  display: grid;
  grid-template-areas: 
  'h h'
  'nav content';
}

.header {
  grid-area: h;
  background-color: green;
  text-align: center;
}

.app-wrapper-content {
  grid-area: content;

}

/* .content {
  grid-area: content;

} */